.tasks-container{
    box-shadow: -2px -2px 78px -22px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px -2px 78px -22px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -2px 78px -22px rgba(0,0,0,0.75);


max-width: 700px;
margin: 0 auto;
}