.background{
    /* background-image: url("../../"); */
    background-image: url("../../assets/hero-background.png");
    height: 50vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}